In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/books.csv')
df.head()

,title,genre,price,availability,rating,upc,description,url,product_type,price_excl_tax,price_incl_tax,tax,number_of_reviews
0,It's Only the Himalayas,Travel,45.17,19,Two,a22124811bfa8350,"âWherever you go, whatever you do, just . . ...",http://books.toscrape.com/catalogue/its-only-t...,Books,45.17,45.17,0.0,0
1,Full Moon over Noahâs Ark: An Odyssey to Mou...,Travel,49.43,15,Four,ce60436f52c5ee68,Acclaimed travel writer Rick Antonson sets his...,http://books.toscrape.com/catalogue/full-moon-...,Books,49.43,49.43,0.0,0
2,See America: A Celebration of Our National Par...,Travel,48.87,14,Three,f9705c362f070608,To coincide with the 2016 centennial anniversa...,http://books.toscrape.com/catalogue/see-americ...,Books,48.87,48.87,0.0,0
3,Vagabonding: An Uncommon Guide to the Art of L...,Travel,36.94,8,Two,1809259a5a5f1d8d,With a new foreword by Tim Ferriss â¢Thereâ...,http://books.toscrape.com/catalogue/vagabondin...,Books,36.94,36.94,0.0,0
4,Under the Tuscan Sun,Travel,37.33,7,Three,a94350ee74deaa07,A CLASSIC FROM THE BESTSELLING AUTHOR OF UNDER...,http://books.toscrape.com/catalogue/under-the-...,Books,37.33,37.33,0.0,0